In [1]:
# Start small and save your time.

In [2]:
# import necessary packages

import pandas as pd # for working with tables
pd.options.mode.chained_assignment = None  # default = 'warn'

import os # for finding file directory with os.getcwd()

# for calculations
import numpy as np 
import math

import matplotlib.pyplot as plt # for plotting

# for plotting histogram with percentages
from matplotlib.ticker import PercentFormatter
import matplotlib.ticker as mtick
from matplotlib.ticker import FormatStrFormatter

from PIL import Image # for converting plots to black-and-white
from IPython.display import HTML

from ipynb.fs.full.MyFunctions_00 import *

In [3]:
# remove "#" at the beginning

new_voids = read_data_db('new_voids_01-18-2023')
new_walls = read_data_db('new_walls_01-18-2023')

new_voids.head()

read Variability/new_voids_01-18-2023
read Variability/new_walls_01-18-2023

,NSAID,vflag,RA,DEC,PLATE,FIBERID,MJD,rabsmag_NSA,Z,SFR,sSFR,BPTclass,HImass,u_r,g_r,u_r_err,g_r_err
0,52,1,146.594503,-0.133150,266,103,51630,-18.625156,0.045652,-0.487868,-10.162451,1.0,NaN,1.015083,0.402294,0.170116,0.076100
1,75,1,145.874464,-0.608775,266,138,51630,-20.979137,0.071590,0.437294,-10.228045,2.0,NaN,1.570181,0.527512,0.092720,0.031002
2,95,1,146.222266,-0.375920,266,168,51630,-20.544321,0.067406,0.436883,-10.211826,1.0,NaN,1.867657,0.645546,0.077289,0.028860
3,121,1,145.681110,-0.867233,266,207,51630,-21.178394,0.067595,-1.141768,-12.134328,5.0,NaN,2.711828,0.698425,0.282711,0.029654
4,127,1,145.759730,-0.813891,266,216,51630,-20.736423,0.067634,-0.348571,-11.222754,4.0,NaN,2.237722,0.712046,0.085222,0.028771

In [4]:
for col in new_voids.columns:
    print(col)

NSAID
vflag
RA
DEC
PLATE
FIBERID
MJD
rabsmag_NSA
Z
SFR
sSFR
BPTclass
HImass
u_r
g_r
u_r_err
g_r_err

In [5]:
ipac_new_voids = new_voids[['NSAID',
                             'RA',
                             'DEC'
                            ]].rename(columns = {'RA' : 'ra', 
                                                 'DEC' : 'dec'})

ipac_new_walls = new_walls[['NSAID',
                             'RA',
                             'DEC'
                            ]].rename(columns = {'RA' : 'ra', 
                                                 'DEC' : 'dec'})

ipac_new_walls.head()

   NSAID          ra       dec
0    464  148.728855  0.188863
1    570  147.428682  1.107487
2    572  147.511343  1.100596
3    576  147.561502  1.229841
4    615  148.015821  1.148428

In [6]:
ipac_new_voids.loc[-1] = ['int', 'double', 'double']  # adding a row
ipac_new_voids.index = ipac_new_voids.index + 1  # shifting index
ipac_new_voids = ipac_new_voids.sort_index() 

ipac_new_voids.head()

  NSAID          ra       dec
0   int      double    double
1    52  146.594503  -0.13315
2    75  145.874464 -0.608775
3    95  146.222266  -0.37592
4   121   145.68111 -0.867233

In [7]:
ipac_new_walls.loc[-1] = ['int', 'double', 'double']  # adding a row
ipac_new_walls.index = ipac_new_walls.index + 1  # shifting index
ipac_new_walls = ipac_new_walls.sort_index() 

ipac_new_walls.head()

  NSAID          ra       dec
0   int      double    double
1   464  148.728855  0.188863
2   570  147.428682  1.107487
3   572  147.511343  1.100596
4   576  147.561502  1.229841

In [8]:
ipac_new_voids.to_csv('new_voids_IPAC_' + timestamp() + '.txt', index = False, sep = ' ')

In [9]:
ipac_new_walls.to_csv('new_walls_IPAC_' + timestamp() + '.txt', index = False, sep = ' ')