In [2]:
# Start small and save your time.

## Functions

In [3]:
# import necessary packages

import pandas as pd # for working with tables
pd.options.mode.chained_assignment = None  # default = 'warn'

import os # for finding file directory with os.getcwd()

# # for calculations
import numpy as np 
import math

import matplotlib.pyplot as plt # for plotting

# # for plotting histogram with percentages
from matplotlib.ticker import PercentFormatter
import matplotlib.ticker as mtick

from PIL import Image # for converting plots to black-and-white

In [4]:
from ipynb.fs.full.MyFunctions_00 import *

In [5]:
# # Test Block 12/21/2022

# ME_full = read_data('IPAC Results/VOIDS_multi_epoch')
# ME_full = ME_full.head()

# ME_full['w1snr_est'] = ME_full.w1mpro_ep / ME_full.w1sigmpro_ep
# ME_full['w2snr_est'] = ME_full.w2mpro_ep / ME_full.w2sigmpro_ep
# ME_full.head()

# ME_filt = ME_full[(ME_full['w1snr_est'] >= 100) & 
#                   (ME_full['w2snr_est'] >= 100)]
# ME_filt

## Compile for VOIDS - Done as of 04/10/2023

In [5]:
# import data from NEOWISE and ALLWISE MEP (multi-epoch photometry)

# since the NEOWISE data files are so large, import each piece of the data for each group and then bind together
voids_NEO_1 = read_data('IPAC_Results/AWS/Voids/ONE_AWS_voids_NEOWISE')
voids_NEO_12 = read_data('IPAC_Results/AWS/Voids/ONE2_AWS_voids_NEOWISE')
voids_NEO_2 = read_data('IPAC_Results/AWS/Voids/TWO_AWS_voids_NEOWISE')
voids_NEO_22 = read_data('IPAC_Results/AWS/Voids/TWO2_AWS_voids_NEOWISE')
voids_NEO_3 = read_data('IPAC_Results/AWS/Voids/THREE_AWS_voids_NEOWISE')

voids_NEO_full = pd.concat([voids_NEO_1, voids_NEO_12, 
                            voids_NEO_2, voids_NEO_22,
                            voids_NEO_3], 
                           ignore_index = True, axis = 0)

# voids_NEO_full = voids_NEO_full.head()

voids_ME_1 = read_data('IPAC_Results/AWS/Voids/ONE_AWS_voids_MEP')
voids_ME_2 = read_data('IPAC_Results/AWS/Voids/TWO_AWS_voids_MEP')
voids_ME_3 = read_data('IPAC_Results/AWS/Voids/THREE_AWS_voids_MEP')

voids_ME_full = pd.concat([voids_ME_1, voids_ME_2, voids_ME_3], ignore_index = True, axis = 0)

read IPAC_Results/AWS/Voids/ONE_AWS_voids_NEOWISE
read IPAC_Results/AWS/Voids/ONE2_AWS_voids_NEOWISE
read IPAC_Results/AWS/Voids/TWO_AWS_voids_NEOWISE
read IPAC_Results/AWS/Voids/TWO2_AWS_voids_NEOWISE
read IPAC_Results/AWS/Voids/THREE_AWS_voids_NEOWISE
read IPAC_Results/AWS/Voids/ONE_AWS_voids_MEP
read IPAC_Results/AWS/Voids/TWO_AWS_voids_MEP
read IPAC_Results/AWS/Voids/THREE_AWS_voids_MEP

In [6]:
voids_NEO_1.head()

,cntr_01,dist_x,pang_x,nsaid_01,ra_01,dec_01,ra,dec,w1mpro,w1sigmpro,w1snr,w2mpro,w2sigmpro,w2snr,mjd,n_allwise
0,1,0.051930,163.072530,52,146.594545,-0.133156,146.594549,-0.133169,15.076,0.098,11.1,14.816,0.386,2.8,56985.236483,1
1,1,0.086167,-114.959107,52,146.594545,-0.133156,146.594523,-0.133166,15.216,0.128,8.5,15.227,0.376,2.9,57873.304224,1
2,1,0.100431,-77.159288,52,146.594545,-0.133156,146.594518,-0.133150,15.242,0.125,8.7,15.091,NaN,0.2,57711.383679,1
3,1,0.113473,36.615339,52,146.594545,-0.133156,146.594564,-0.133130,15.019,0.106,10.2,15.356,0.460,2.4,56985.433730,1
4,1,0.126051,-35.233248,52,146.594545,-0.133156,146.594525,-0.133127,15.231,0.109,9.9,15.000,0.364,3.0,58600.291362,1

In [7]:
voids_ME_full.head()

,cntr_01,dist_x,pang_x,nsaid_01,ra_01,dec_01,ra,dec,mjd,w1mpro_ep,w1sigmpro_ep,w2mpro_ep,w2sigmpro_ep,w3mpro_ep,w3sigmpro_ep,w4mpro_ep,w4sigmpro_ep
0,1,0.0,90.37138,52,146.594545,-0.133156,146.594545,-0.133156,55330.678965,14.985,0.100,15.280,0.421,10.505,NaN,7.916,NaN
1,1,0.0,90.37138,52,146.594545,-0.133156,146.594545,-0.133156,55521.405241,15.460,0.151,14.932,0.310,NaN,NaN,NaN,NaN
2,1,0.0,90.37138,52,146.594545,-0.133156,146.594545,-0.133156,55330.282053,15.359,0.126,15.391,0.441,10.665,NaN,7.538,NaN
3,1,0.0,90.37138,52,146.594545,-0.133156,146.594545,-0.133156,55330.546660,15.243,0.115,14.785,0.242,10.924,NaN,7.881,NaN
4,1,0.0,90.37138,52,146.594545,-0.133156,146.594545,-0.133156,55330.811269,15.517,0.151,15.008,NaN,11.440,NaN,7.485,NaN

In [8]:
num_voids_NEO = np.unique(voids_NEO_full['nsaid_01'])
print(len(num_voids_NEO))

num_voids_ME = np.unique(voids_ME_full['nsaid_01'])
print(len(num_voids_ME))

num_voids_both = np.concatenate((num_voids_NEO, num_voids_ME), axis=None)
print(len(num_voids_both))

num_voids_unique = np.unique(num_voids_both)
print(len(num_voids_unique))
print('')
print(len(num_voids_unique[~np.isnan(num_voids_unique)]))

85759
85796
171555
85796

85796

In [9]:
# implement the above functions for the voids dataset
voids_full = combine_new(voids_NEO_full, voids_ME_full)
tags_unique_voids = np.unique(voids_full['object_tag'])

voids_full.head()

   nsaid_01  w1mpro  w2mpro           mjd  object_tag
0        75  13.832  13.599  59695.510611        75.0
1        75  13.891  13.460  58442.321083        75.0
2        75  13.592  13.638  58971.495604        75.0
3        75  13.682  13.805  57714.069368        75.0
4        75  13.724  13.536  58964.433443        75.0

In [10]:
len(tags_unique_voids)

79005

In [12]:
new_voids = voids_full

new_voids_list = read_data_db('new_voids_filtDL_04-10-23')

new_voids_list = new_voids_list.rename(columns = {'NSAID' : 'nsaid_01'})

new_voids_merged = new_voids.merge(new_voids_list, how = 'left', on = ['nsaid_01'])

new_voids_filt = new_voids_merged.dropna(subset = ['RA'])

voids_full = new_voids_filt

print(len(np.unique(voids_full['object_tag'])))

read new_voids_filtDL_04-10-23
79005

In [13]:
# redo tag list after filtering
tags_unique_voids = np.unique(voids_full['object_tag'])
print(len(tags_unique_voids))

# problem = nan value!
print(tags_unique_voids.min())
print(tags_unique_voids.max())

79005
nan
nan

In [14]:
# remove nan value
tags_unique_voids = tags_unique_voids[np.logical_not(np.isnan(tags_unique_voids))]
print(len(tags_unique_voids))

79004

In [15]:
# make an empty mean table
# using a for loop, add the rows from each unique object's mean table into the ultimate mean table
# the ultimate_mean table will contain the information needed to plot the light curve for every void object
ultimate_mean_voids = pd.DataFrame(columns = ['object_tag', 'mjd_binned',
                                              'mean_W1', 'mean_W2', 'mean_color',
                                              'std_W1', 'std_W2', 'std_color'])

count = 0

for t in tags_unique_voids:
    voids_full_tag = expand_cols(voids_full, t)
    voids_mean = save_binned(voids_full_tag, t)
    ultimate_mean_voids = pd.concat([ultimate_mean_voids, voids_mean], ignore_index = True)
    count += 1
    
    # increment the counter to help us track the progress of this loop (takes a while to run)
    # print the counter after every 5000 objects have been processed
    if(count%5000 == 0):
        print(str(count) + ' voids')
        
# 65000 voids

5000 voids
10000 voids
15000 voids
20000 voids
25000 voids
30000 voids
35000 voids
40000 voids
45000 voids
50000 voids
55000 voids
60000 voids
65000 voids
70000 voids
75000 voids

In [16]:
# voids_full[voids_full['object_tag'].isna()]

In [17]:
print(len(ultimate_mean_voids))
ultimate_mean_voids.head()

ultimate_mean_voids.to_csv('Files/ultimate_mean_VOIDS_' + 'new_' + timestamp() + '.csv', index = False)
voids_full.to_csv('Files/voids_full_' + 'new_' + timestamp() + '.csv', index = False)

1524281

## Compile for WALLS

In [6]:
walls_NEO_1 = read_data('IPAC_Results/AWS/Walls/ONE_AWS_walls_NEOWISE')
walls_NEO_2 = read_data('IPAC_Results/AWS/Walls/TWO_AWS_walls_NEOWISE')
walls_NEO_3 = read_data('IPAC_Results/AWS/Walls/THREE_AWS_walls_NEOWISE')
walls_NEO_4 = read_data('IPAC_Results/AWS/Walls/FOUR_AWS_walls_NEOWISE')
walls_NEO_5 = read_data('IPAC_Results/AWS/Walls/FIVE_AWS_walls_NEOWISE')
walls_NEO_6 = read_data('IPAC_Results/AWS/Walls/SIX_AWS_walls_NEOWISE')
walls_NEO_7 = read_data('IPAC_Results/AWS/Walls/SEVEN_AWS_walls_NEOWISE')

walls_NEO_12 = read_data('IPAC_Results/AWS/Walls/ONE2_AWS_walls_NEOWISE')
walls_NEO_22 = read_data('IPAC_Results/AWS/Walls/TWO2_AWS_walls_NEOWISE')
walls_NEO_32 = read_data('IPAC_Results/AWS/Walls/THREE2_AWS_walls_NEOWISE')
walls_NEO_42 = read_data('IPAC_Results/AWS/Walls/FOUR2_AWS_walls_NEOWISE')
walls_NEO_52 = read_data('IPAC_Results/AWS/Walls/FIVE2_AWS_walls_NEOWISE')
walls_NEO_62 = read_data('IPAC_Results/AWS/Walls/SIX2_AWS_walls_NEOWISE')
walls_NEO_72 = read_data('IPAC_Results/AWS/Walls/SEVEN2_AWS_walls_NEOWISE')

walls_NEO_full = pd.concat([walls_NEO_1, walls_NEO_12, 
                            walls_NEO_2, walls_NEO_22,  
                            walls_NEO_3, walls_NEO_32,  
                            walls_NEO_4, walls_NEO_42,  
                            walls_NEO_5, walls_NEO_52, 
                            walls_NEO_6, walls_NEO_62, 
                            walls_NEO_7, walls_NEO_72],
                           ignore_index = True, axis = 0)

walls_ME_1 = read_data('IPAC_Results/AWS/Walls/ONE_AWS_walls_MEP')
walls_ME_2 = read_data('IPAC_Results/AWS/Walls/TWO_AWS_walls_MEP')
walls_ME_3 = read_data('IPAC_Results/AWS/Walls/THREE_AWS_walls_MEP')
walls_ME_4 = read_data('IPAC_Results/AWS/Walls/FOUR_AWS_walls_MEP')
walls_ME_5 = read_data('IPAC_Results/AWS/Walls/FIVE_AWS_walls_MEP')
walls_ME_6 = read_data('IPAC_Results/AWS/Walls/SIX_AWS_walls_MEP')
walls_ME_7 = read_data('IPAC_Results/AWS/Walls/SEVEN_AWS_walls_MEP')

walls_ME_full = pd.concat([walls_ME_1, 
                            walls_ME_2, 
                            walls_ME_3, 
                            walls_ME_4, 
                            walls_ME_5,
                            walls_ME_6,
                            walls_ME_7],
                           ignore_index = True, axis = 0)

read IPAC_Results/AWS/Walls/ONE_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/TWO_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/THREE_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/FOUR_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/FIVE_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/SIX_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/SEVEN_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/ONE2_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/TWO2_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/THREE2_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/FOUR2_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/FIVE2_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/SIX2_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/SEVEN2_AWS_walls_NEOWISE
read IPAC_Results/AWS/Walls/ONE_AWS_walls_MEP
read IPAC_Results/AWS/Walls/TWO_AWS_walls_MEP
read IPAC_Results/AWS/Walls/THREE_AWS_walls_MEP
read IPAC_Results/AWS/Walls/FOUR_AWS_walls_MEP
read IPAC_Results/AWS/Walls/FIVE_AWS_walls_MEP
read IPAC_Results/AWS/Walls/SIX_AWS_walls_MEP
read IPAC_Results/AWS/Walls/SEVEN_AWS_walls_MEP

In [7]:
walls_NEO_1.head()

,cntr_01,dist_x,pang_x,nsaid_01,ra_01,dec_01,ra,dec,w1mpro,w1sigmpro,w1snr,w2mpro,w2sigmpro,w2snr,mjd,n_allwise
0,1,0.038628,-175.724182,464,148.728682,0.188869,148.728681,0.188859,14.679,0.081,13.4,14.660,0.301,3.6,58444.610999,1
1,1,0.098282,-130.692503,464,148.728682,0.188869,148.728661,0.188852,14.844,0.095,11.5,14.940,0.335,3.2,57348.741536,1
2,1,0.101213,66.078779,464,148.728682,0.188869,148.728708,0.188881,14.798,0.088,12.3,14.579,0.248,4.4,59175.428863,1
3,1,0.106614,39.656791,464,148.728682,0.188869,148.728701,0.188892,14.706,0.099,11.0,14.376,0.201,5.4,57349.200590,1
4,1,0.130164,-158.757805,464,148.728682,0.188869,148.728669,0.188836,14.816,0.088,12.3,14.249,0.233,4.7,59540.095523,1

In [8]:
walls_ME_full.head()

,cntr_01,dist_x,pang_x,nsaid_01,ra_01,dec_01,ra,dec,mjd,w1mpro_ep,w1sigmpro_ep,w2mpro_ep,w2sigmpro_ep,w3mpro_ep,w3sigmpro_ep,w4mpro_ep,w4sigmpro_ep
0,1,0.0,-90.114705,464,148.728682,0.188869,148.728682,0.188869,55523.124432,14.798,0.087,14.816,0.283,NaN,NaN,NaN,NaN
1,1,0.0,-90.114705,464,148.728682,0.188869,148.728682,0.188869,55332.663779,14.803,0.092,14.309,0.168,11.081,0.465,7.171,NaN
2,1,0.0,-90.114705,464,148.728682,0.188869,148.728682,0.188869,55522.859951,14.878,0.096,14.364,0.198,NaN,NaN,NaN,NaN
3,1,0.0,-90.114705,464,148.728682,0.188869,148.728682,0.188869,55332.531475,14.819,0.087,14.251,0.166,10.747,NaN,7.610,NaN
4,1,0.0,-90.114705,464,148.728682,0.188869,148.728682,0.188869,55332.399171,14.736,0.082,14.256,0.168,10.738,0.324,7.829,NaN

In [9]:
num_walls_NEO = np.unique(walls_NEO_full['nsaid_01'])
print(len(num_walls_NEO))

num_walls_ME = np.unique(walls_ME_full['nsaid_01'])
print(len(num_walls_ME))

num_walls_both = np.concatenate((num_walls_NEO, num_walls_ME), axis=None)
print(len(num_walls_both))

num_walls_unique = np.unique(num_walls_both)
print(len(num_walls_unique))
print('')
print(len(num_walls_unique[~np.isnan(num_walls_unique)]))
print(num_walls_unique.max())

243977
244078
488055
244078

244078
698540

In [10]:
walls_full = combine_new(walls_NEO_full, walls_ME_full)
tags_unique_walls = np.unique(walls_full['object_tag'])

In [11]:
len(tags_unique_walls)

233244

In [12]:
new_walls = walls_full

new_walls_list = read_data_db('new_walls_filtDL_04-10-23')

new_walls_list = new_walls_list.rename(columns = {'NSAID' : 'nsaid_01'})

new_walls_merged = new_walls.merge(new_walls_list, how = 'left', on = ['nsaid_01'])

new_walls_filt = new_walls_merged.dropna(subset = ['RA'])

walls_full = new_walls_filt

print(len(np.unique(walls_full['object_tag'])))

read new_walls_filtDL_04-10-23
233244

In [13]:
# redo tag list after filtering
tags_unique_walls = np.unique(walls_full['object_tag'])
print(len(tags_unique_walls))

# problem = nan value!
print(tags_unique_walls.min())
print(tags_unique_walls.max())

233244
nan
nan

In [14]:
tags_unique_walls = tags_unique_walls[np.logical_not(np.isnan(tags_unique_walls))]
print(len(tags_unique_walls))

233243

In [15]:
# repeat for walls
ultimate_mean_walls = pd.DataFrame(columns = ['object_tag', 'mjd_binned',
                                              'mean_W1', 'mean_W2', 'mean_color',
                                              'std_W1', 'std_W2', 'std_color'])

count = 0

for t in tags_unique_walls:
    walls_full_tag = expand_cols(walls_full, t)
    walls_mean = save_binned(walls_full_tag, t)
    ultimate_mean_walls = pd.concat([ultimate_mean_walls, walls_mean], ignore_index = True)
    count += 1

    if(count%5000 == 0):
        print(str(count) + ' walls')
        
# 270,000 walls

5000 walls
10000 walls
15000 walls
20000 walls
25000 walls
30000 walls
35000 walls
40000 walls
45000 walls
50000 walls
55000 walls
60000 walls
65000 walls
70000 walls
75000 walls
80000 walls
85000 walls
90000 walls
95000 walls
100000 walls
105000 walls
110000 walls
115000 walls
120000 walls
125000 walls
130000 walls
135000 walls
140000 walls
145000 walls
150000 walls
155000 walls
160000 walls
165000 walls
170000 walls
175000 walls
180000 walls
185000 walls
190000 walls
195000 walls
200000 walls
205000 walls
210000 walls
215000 walls
220000 walls
225000 walls
230000 walls

In [16]:
print(len(ultimate_mean_walls))
ultimate_mean_walls.head()

ultimate_mean_walls.to_csv('Files/ultimate_mean_WALLS_' + 'new_' + timestamp() + '.csv', index = False)
walls_full.to_csv('Files/walls_full_' + 'new_' + timestamp() + '.csv', index = False)

4728995