In [1]:
# Start small and save your time.

In [2]:
# import necessary packages

import pandas as pd # for working with tables
pd.options.mode.chained_assignment = None  # default = 'warn'

import os # for finding file directory with os.getcwd()

# for calculations
import numpy as np 
import math

import matplotlib.pyplot as plt # for plotting

# for plotting histogram with percentages
from matplotlib.ticker import PercentFormatter
import matplotlib.ticker as mtick
from matplotlib.ticker import FormatStrFormatter

from PIL import Image # for converting plots to black-and-white
from IPython.display import HTML

from ipynb.fs.full.MyFunctions_00 import *

In [3]:
ultimate_mean_voids = read_data('ultimate_mean_VOIDS_new_' + '04-10-23')# timestamp())
ultimate_mean_walls = read_data('ultimate_mean_WALLS_new_' + timestamp())

read ultimate_mean_VOIDS_new_04-10-23
read ultimate_mean_WALLS_new_04-11-23

In [4]:
ultimate_mean_voids.head()

,object_tag,mjd_binned,mean_W1,mean_W2,mean_color,std_W1,std_W2,std_color
0,75.0,5.0,14.133667,13.951697,0.181970,0.816597,0.790833,0.240681
1,75.0,195.0,14.087479,13.916177,0.171302,0.818100,0.795176,0.204798
2,75.0,1465.0,13.644400,13.466700,0.177700,0.052568,0.058520,0.079880
3,75.0,1655.0,13.584250,13.437167,0.147083,0.061251,0.124310,0.132766
4,75.0,1825.0,13.672364,13.503818,0.168545,0.078336,0.138713,0.136840

In [5]:
num_voids_NEO = np.unique(ultimate_mean_voids['object_tag'])
print(len(num_voids_NEO))

79004

In [6]:
print(len(ultimate_mean_voids))
ultimate_outlier_voids = outlier_table_switched(ultimate_mean_voids, 4.0)
print(len(ultimate_outlier_voids))

1524281
5000 galaxies
10000 galaxies
15000 galaxies
20000 galaxies
25000 galaxies
30000 galaxies
35000 galaxies
40000 galaxies
45000 galaxies
50000 galaxies
55000 galaxies
60000 galaxies
65000 galaxies
70000 galaxies
75000 galaxies
1509657

In [7]:
ultimate_outlier_voids.to_csv('Files/VOIDS_outliers_removed_new_' + timestamp() + '.csv', index = False)

In [8]:
print(len(ultimate_mean_walls))
ultimate_outlier_walls = outlier_table_switched(ultimate_mean_walls, 4.0)
print(len(ultimate_outlier_walls))

4728995
5000 galaxies
10000 galaxies
15000 galaxies
20000 galaxies
25000 galaxies
30000 galaxies
35000 galaxies
40000 galaxies
45000 galaxies
50000 galaxies
55000 galaxies
60000 galaxies
65000 galaxies
70000 galaxies
75000 galaxies
80000 galaxies
85000 galaxies
90000 galaxies
95000 galaxies
100000 galaxies
105000 galaxies
110000 galaxies
115000 galaxies
120000 galaxies
125000 galaxies
130000 galaxies
135000 galaxies
140000 galaxies
145000 galaxies
150000 galaxies
155000 galaxies
160000 galaxies
165000 galaxies
170000 galaxies
175000 galaxies
180000 galaxies
185000 galaxies
190000 galaxies
195000 galaxies
200000 galaxies
205000 galaxies
210000 galaxies
215000 galaxies
220000 galaxies
225000 galaxies
230000 galaxies
4692399

In [9]:
ultimate_outlier_walls.to_csv('Files/WALLS_outliers_removed_' + 'new_' + timestamp() + '.csv', index = False)