In [1]:
# Start small and save your time.

In [2]:
# import necessary packages

import pandas as pd # for working with tables
pd.options.mode.chained_assignment = None  # default = 'warn'

import os # for finding file directory with os.getcwd()

# for calculations
import numpy as np 
import math

import matplotlib.pyplot as plt # for plotting

# for plotting histogram with percentages
from matplotlib.ticker import PercentFormatter
import matplotlib.ticker as mtick
from matplotlib.ticker import FormatStrFormatter

from PIL import Image # for converting plots to black-and-white
from IPython.display import HTML

from ipynb.fs.full.MyFunctions_00 import *

In [3]:
maglim_VOIDS = read_data_db('new_voids_' + '04-10-23') # timestamp())
maglim_VOIDS = maglim_VOIDS.rename(columns = {'NSAID' : 'object_tag'})
print(len(maglim_VOIDS))
maglim_VOIDS.head()

read new_voids_04-10-23
86891

,object_tag,vflag,RA,DEC,PLATE,FIBERID,MJD,rabsmag_NSA,Z,SFR,sSFR,BPTclass,HImass,u_r,g_r,u_r_err,g_r_err
0,52,1,146.594503,-0.133150,266,103,51630,-18.625156,0.045652,-0.487868,-10.162451,1.0,NaN,1.015083,0.402294,0.170116,0.076100
1,75,1,145.874464,-0.608775,266,138,51630,-20.979137,0.071590,0.437294,-10.228045,2.0,NaN,1.570181,0.527512,0.092720,0.031002
2,95,1,146.222266,-0.375920,266,168,51630,-20.544321,0.067406,0.436883,-10.211826,1.0,NaN,1.867657,0.645546,0.077289,0.028860
3,121,1,145.681110,-0.867233,266,207,51630,-21.178394,0.067595,-1.141768,-12.134328,5.0,NaN,2.711828,0.698425,0.282711,0.029654
4,127,1,145.759730,-0.813891,266,216,51630,-20.736423,0.067634,-0.348571,-11.222754,4.0,NaN,2.237722,0.712046,0.085222,0.028771

In [4]:
maglim_WALLS = read_data_db('new_walls_' + '04-10-23') # timestamp())
maglim_WALLS = maglim_WALLS.rename(columns = {'NSAID' : 'object_tag'})
print(len(maglim_WALLS))
maglim_WALLS.head()

read new_walls_04-10-23
245778

,object_tag,vflag,RA,DEC,PLATE,FIBERID,MJD,rabsmag_NSA,Z,SFR,sSFR,BPTclass,HImass,u_r,g_r,u_r_err,g_r_err
0,464,0,148.728855,0.188863,267,152,51608,-20.542107,0.094445,0.365831,-9.764698,1.0,NaN,1.309233,0.567883,0.619454,0.037097
1,570,0,147.428682,1.107487,267,362,51608,-21.410318,0.098661,-0.852778,-12.150420,-1.0,NaN,2.323511,0.719944,0.113655,0.031594
2,572,0,147.511343,1.100596,267,369,51608,-20.423737,0.093593,-1.139221,-11.910791,-1.0,NaN,3.057472,0.754032,0.345188,0.033609
3,576,0,147.561502,1.229841,267,378,51608,-21.105976,0.098923,0.393559,-10.500205,3.0,NaN,1.843855,0.594555,0.092584,0.030253
4,615,0,148.015821,1.148428,267,442,51608,-19.731482,0.064104,-0.719594,-11.158921,2.0,NaN,2.254469,0.692661,0.089241,0.029552

In [5]:
# The Pr table already has validation (Snr limit, # bin limit, outliers removed)

valid_VOIDS = read_data_db("VOIDS_Pr_new_" + timestamp())
print(len(valid_VOIDS))
valid_VOIDS.head()

read VOIDS_Pr_new_04-11-23
73960

   object_tag  num_obj        Pr
0        75.0     24.0  0.933297
1        95.0     24.0  0.948802
2       121.0     23.0  0.987329
3       127.0     22.0  0.998411
4       128.0     22.0  0.900567

In [6]:
valid_WALLS = read_data_db("WALLS_Pr_new_" + timestamp())
print(len(valid_WALLS))
valid_WALLS.head()

read WALLS_Pr_new_04-11-23
223258

   object_tag  num_obj        Pr
0       464.0     21.0  0.765606
1       570.0     23.0  0.980080
2       572.0     21.0  0.788920
3       576.0     23.0  0.801471
4       615.0     21.0  0.915904

In [7]:
voids = valid_VOIDS.merge(maglim_VOIDS, how = 'left', on = 'object_tag')
voids = voids.dropna(subset = ['rabsmag_NSA']) # right now no rows are null
print(len(voids))
voids.head()

73958

,object_tag,num_obj,Pr,vflag,RA,DEC,PLATE,FIBERID,MJD,rabsmag_NSA,Z,SFR,sSFR,BPTclass,HImass,u_r,g_r,u_r_err,g_r_err
0,75.0,24.0,0.933297,1,145.874464,-0.608775,266,138,51630,-20.979137,0.071590,0.437294,-10.228045,2.0,NaN,1.570181,0.527512,0.092720,0.031002
1,95.0,24.0,0.948802,1,146.222266,-0.375920,266,168,51630,-20.544321,0.067406,0.436883,-10.211826,1.0,NaN,1.867657,0.645546,0.077289,0.028860
2,121.0,23.0,0.987329,1,145.681110,-0.867233,266,207,51630,-21.178394,0.067595,-1.141768,-12.134328,5.0,NaN,2.711828,0.698425,0.282711,0.029654
3,127.0,22.0,0.998411,1,145.759730,-0.813891,266,216,51630,-20.736423,0.067634,-0.348571,-11.222754,4.0,NaN,2.237722,0.712046,0.085222,0.028771
4,128.0,22.0,0.900567,1,145.708927,-0.747680,266,217,51630,-19.849358,0.071566,-1.348428,-11.774809,-1.0,NaN,2.189016,0.687010,0.130119,0.031340

In [8]:
walls = valid_WALLS.merge(maglim_WALLS, how = 'left', on = 'object_tag')
walls = walls.dropna(subset = ['rabsmag_NSA']) # right now no rows are null
print(len(walls))
walls.head()

223257

,object_tag,num_obj,Pr,vflag,RA,DEC,PLATE,FIBERID,MJD,rabsmag_NSA,Z,SFR,sSFR,BPTclass,HImass,u_r,g_r,u_r_err,g_r_err
0,464.0,21.0,0.765606,0,148.728855,0.188863,267,152,51608,-20.542107,0.094445,0.365831,-9.764698,1.0,NaN,1.309233,0.567883,0.619454,0.037097
1,570.0,23.0,0.980080,0,147.428682,1.107487,267,362,51608,-21.410318,0.098661,-0.852778,-12.150420,-1.0,NaN,2.323511,0.719944,0.113655,0.031594
2,572.0,21.0,0.788920,0,147.511343,1.100596,267,369,51608,-20.423737,0.093593,-1.139221,-11.910791,-1.0,NaN,3.057472,0.754032,0.345188,0.033609
3,576.0,23.0,0.801471,0,147.561502,1.229841,267,378,51608,-21.105976,0.098923,0.393559,-10.500205,3.0,NaN,1.843855,0.594555,0.092584,0.030253
4,615.0,21.0,0.915904,0,148.015821,1.148428,267,442,51608,-19.731482,0.064104,-0.719594,-11.158921,2.0,NaN,2.254469,0.692661,0.089241,0.029552

In [9]:
voids.to_csv('Files/rabsmag_VOIDS_new_' + timestamp() + '.csv', index = False)
walls.to_csv('Files/rabsmag_WALLS_new_' + timestamp() + '.csv', index = False)