In [1]:
# Start small and save your time.

In [2]:
# import necessary packages

import pandas as pd # for working with tables
pd.options.mode.chained_assignment = None  # default = 'warn'

import os # for finding file directory with os.getcwd()

# for calculations
import numpy as np 
import math

import matplotlib.pyplot as plt # for plotting

# for plotting histogram with percentages
from matplotlib.ticker import PercentFormatter
import matplotlib.ticker as mtick

from PIL import Image # for converting plots to black-and-white

from ipynb.fs.full.MyFunctions_00 import *

In [3]:
voids_colors = read_data_db('voids_parent_colors_new_' + '04-11-23') # timestamp())
walls_colors = read_data_db('walls_parent_colors_new_' + '04-11-23') # timestamp())

read voids_parent_colors_new_04-11-23
read walls_parent_colors_new_04-11-23

In [4]:
voids_colors.head()

,object_tag,num_obj,Pr,vflag,RA,DEC,PLATE,FIBERID,MJD,rabsmag_NSA,...,w2sigmpro,w2snr,w3mpro,w3sigmpro,w3snr,w4mpro,w4sigmpro,w4snr,W1-W2,W2-W3
0,75.0,24.0,0.933297,1,145.874464,-0.608775,266,138,51630,-20.979137,...,0.057,19.1,10.802,0.124,8.7,8.286,0.435,2.5,0.110,3.232
1,95.0,24.0,0.948802,1,146.222266,-0.375920,266,168,51630,-20.544321,...,0.029,37.9,9.610,0.044,24.9,8.194,0.273,4.0,0.163,3.465
2,121.0,23.0,0.987329,1,145.681110,-0.867233,266,207,51630,-21.178394,...,0.027,39.9,11.039,0.139,7.8,8.913,NaN,-0.5,0.034,1.967
3,127.0,22.0,0.998411,1,145.759730,-0.813891,266,216,51630,-20.736423,...,0.058,18.7,10.507,0.120,9.1,7.438,NaN,1.4,0.127,2.721
4,128.0,22.0,0.900567,1,145.708927,-0.747680,266,217,51630,-19.849358,...,0.041,26.8,12.431,NaN,0.0,8.759,NaN,-0.6,0.166,1.533

In [5]:
# read in saved mean tables
ultimate_mean_voids = read_data('VOIDS_outliers_removed_' + 'new_' + '04-11-23') # timestamp())
ultimate_mean_walls = read_data('WALLS_outliers_removed_' + 'new_' + '04-11-23') # timestamp())

read VOIDS_outliers_removed_new_04-11-23
read WALLS_outliers_removed_new_04-11-23

In [6]:
ultimate_mean_voids.head()

,object_tag,mjd_binned,mean_W1,mean_W2,mean_color,std_W1,std_W2,std_color
0,75.0,5.0,14.133667,13.951697,0.181970,0.816597,0.790833,0.240681
1,75.0,195.0,14.087479,13.916177,0.171302,0.818100,0.795176,0.204798
2,75.0,1465.0,13.644400,13.466700,0.177700,0.052568,0.058520,0.079880
3,75.0,1655.0,13.584250,13.437167,0.147083,0.061251,0.124310,0.132766
4,75.0,1825.0,13.672364,13.503818,0.168545,0.078336,0.138713,0.136840

In [7]:
number_voids = np.unique(ultimate_mean_voids['object_tag'])
print(len(number_voids))
print(len(voids_colors))

number_walls = np.unique(ultimate_mean_walls['object_tag'])
print(len(number_walls))
print(len(walls_colors))

73960
71261
223258
219255

In [8]:
# check and save Pr table
voids_pAGN = detailed_percent_AGN_table(ultimate_mean_voids, voids_colors)

5000 galaxies
10000 galaxies
15000 galaxies
20000 galaxies
25000 galaxies
30000 galaxies
35000 galaxies
40000 galaxies
45000 galaxies
50000 galaxies
55000 galaxies
60000 galaxies
65000 galaxies
70000 galaxies

In [9]:
voids_pAGN.to_csv('Files/VOIDS_pAGN_' + timestamp() + '.csv', index = False)

In [10]:
walls_pAGN = detailed_percent_AGN_table(ultimate_mean_walls, walls_colors)

5000 galaxies
10000 galaxies
15000 galaxies
20000 galaxies
25000 galaxies
30000 galaxies
35000 galaxies
40000 galaxies
45000 galaxies
50000 galaxies
55000 galaxies
60000 galaxies
65000 galaxies
70000 galaxies
75000 galaxies
80000 galaxies
85000 galaxies
90000 galaxies
95000 galaxies
100000 galaxies
105000 galaxies
110000 galaxies
115000 galaxies
120000 galaxies
125000 galaxies
130000 galaxies
135000 galaxies
140000 galaxies
145000 galaxies
150000 galaxies
155000 galaxies
160000 galaxies
165000 galaxies
170000 galaxies
175000 galaxies
180000 galaxies
185000 galaxies
190000 galaxies
195000 galaxies
200000 galaxies
205000 galaxies
210000 galaxies
215000 galaxies
220000 galaxies

In [11]:
walls_pAGN.to_csv('Files/WALLS_pAGN_' + timestamp() + '.csv', index = False)

In [12]:
walls_pAGN.head(10)

,object_tag,num_obj,percentAGN,error_pAGN,percentBlue,error_Blue,percentMateos,error_Mateos
0,464.0,21.0,0.0,0.0,71.429,24.147,0.000,0.000
1,570.0,23.0,0.0,0.0,100.000,0.000,0.000,0.000
2,572.0,21.0,0.0,0.0,100.000,0.000,0.000,0.000
3,576.0,23.0,0.0,0.0,95.652,28.525,0.000,0.000
4,615.0,21.0,0.0,0.0,100.000,0.000,0.000,0.000
5,644.0,22.0,0.0,0.0,100.000,0.000,0.000,0.000
6,646.0,23.0,0.0,0.0,100.000,0.000,0.000,0.000
7,648.0,23.0,0.0,0.0,100.000,0.000,0.000,0.000
8,656.0,24.0,0.0,0.0,95.833,27.964,4.167,4.253
9,657.0,21.0,0.0,0.0,100.000,0.000,0.000,0.000